<html>
<head>
</head>

<body>
<h1>Welcome to sticky notes</h1>



<ul> 
     <li>index.html.erb</li>
     <li>create.html.erb</li>
     <li>edit.html.erb</li>
     <li>new.html.erb</li>ß
     <li>update.html.erb</li>
     <li>destroy.html.erb</li>
   
</ul>
</body>

</html>