<h1>Welcome to sticky notes</h1>
<%= link_to 'Create a New note', new_note_path %>

<ul> 
     <li>index.html.erb</li>
     <li>create.html.erb</li>
     <li>edit.html.erb</li>
     <li>new.html.erb</li>
     <li>update.html.erb</li>
     <li>destroy.html.erb</li>
    <% end %>
</ul>